*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: #181818;
}
h1{
    color: rgb(225, 196, 202);
}
button{
    padding: 10px 20px ;
    font-size: 16px;
    color:white;
    background-color: rgb(125, 28, 30);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease ;
}